In [6]:
import pandas as pd

df = pd.read_csv("student_performance_large_dataset.csv")
df.head()

,Student_ID,Age,Gender,Study_Hours_per_Week,Preferred_Learning_Style,Online_Courses_Completed,Participation_in_Discussions,Assignment_Completion_Rate (%),Exam_Score (%),Attendance_Rate (%),Use_of_Educational_Tech,Self_Reported_Stress_Level,Time_Spent_on_Social_Media (hours/week),Sleep_Hours_per_Night,Final_Grade
0,S00001,18,Female,48,Kinesthetic,14,Yes,100,69,66,Yes,High,9,8,C
1,S00002,29,Female,30,Reading/Writing,20,No,71,40,57,Yes,Medium,28,8,D
2,S00003,20,Female,47,Kinesthetic,11,No,60,43,79,Yes,Low,13,7,D
3,S00004,23,Female,13,Auditory,0,Yes,63,70,60,Yes,Low,24,10,B
4,S00005,19,Female,24,Auditory,19,Yes,59,63,93,Yes,Medium,26,8,C

In [7]:
df.info()
df.describe(include='all')
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Student_ID                               10000 non-null  object
 1   Age                                      10000 non-null  int64
 2   Gender                                   10000 non-null  object
 3   Study_Hours_per_Week                     10000 non-null  int64
 4   Preferred_Learning_Style                 10000 non-null  object
 5   Online_Courses_Completed                 10000 non-null  int64
 6   Participation_in_Discussions             10000 non-null  object
 7   Assignment_Completion_Rate (%)           10000 non-null  int64
 8   Exam_Score (%)                           10000 non-null  int64
 9   Attendance_Rate (%)                      10000 non-null  int64
 10  Use_of_Educational_Tech                  10000 non-null  object
 11  Self_Reported_Stress_Level               10000 non-null  object
 12  Time_Spent_on_Social_Media (hours/week)  10000 non-null  int64
 13  Sleep_Hours_per_Night                    10000 non-null  int64
 14  Final_Grade                              10000 non-null  object
dtypes: int64(8), object(7)
memory usage: 898.5+ KB

Student_ID                                 0
Age                                        0
Gender                                     0
Study_Hours_per_Week                       0
Preferred_Learning_Style                   0
Online_Courses_Completed                   0
Participation_in_Discussions               0
Assignment_Completion_Rate (%)             0
Exam_Score (%)                             0
Attendance_Rate (%)                        0
Use_of_Educational_Tech                    0
Self_Reported_Stress_Level                 0
Time_Spent_on_Social_Media (hours/week)    0
Sleep_Hours_per_Night                      0
Final_Grade                                0
dtype: int64

In [8]:
grade_mapping = {'A': 4, 'B': 3, 'C': 2, 'D': 1}
df['Final_Grade_Num'] = df['Final_Grade'].map(grade_mapping)

y = df['Final_Grade_Num']
X = df.drop(columns=['Student_ID', 'Final_Grade', 'Final_Grade_Num'])
X = pd.get_dummies(X, drop_first=True)